frontend-csharp/GestionLentesVRPresentacion/Connected Services/ServiceReference1/AplicacionWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws.gestionlentesvr.pucp.com/" targetNamespace="http://ws.gestionlentesvr.pucp.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Exception" type="tns:Exception" />
  <xs:element name="actualizarAplicacion" type="tns:actualizarAplicacion" />
  <xs:element name="actualizarAplicacionResponse" type="tns:actualizarAplicacionResponse" />
  <xs:element name="eliminarAplicacion" type="tns:eliminarAplicacion" />
  <xs:element name="eliminarAplicacionResponse" type="tns:eliminarAplicacionResponse" />
  <xs:element name="listarAplicacion" type="tns:listarAplicacion" />
  <xs:element name="listarAplicacionResponse" type="tns:listarAplicacionResponse" />
  <xs:element name="obtenerAplicacion" type="tns:obtenerAplicacion" />
  <xs:element name="obtenerAplicacionResponse" type="tns:obtenerAplicacionResponse" />
  <xs:element name="registrarAplicacion" type="tns:registrarAplicacion" />
  <xs:element name="registrarAplicacionResponse" type="tns:registrarAplicacionResponse" />
  <xs:complexType name="obtenerAplicacion">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerAplicacionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:aplicacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="aplicacion">
    <xs:sequence>
      <xs:element name="activo" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="categoria" type="tns:categoriaAplicacion" />
      <xs:element minOccurs="0" name="desarrollador" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="tamanomb" type="xs:double" />
      <xs:element minOccurs="0" name="version" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarAplicacion">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarAplicacionResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="registrarAplicacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="elemento" type="tns:aplicacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registrarAplicacionResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="actualizarAplicacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="elemento" type="tns:aplicacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarAplicacionResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarAplicacion">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarAplicacionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:aplicacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="categoriaAplicacion">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EDUCATIVA" />
      <xs:enumeration value="ENTRETENIMIENTO" />
      <xs:enumeration value="TERAPEUTICA" />
      <xs:enumeration value="ENTRENAMIENTO" />
      <xs:enumeration value="PRODUCTIVIDAD" />
      <xs:enumeration value="SIMULACION" />
      <xs:enumeration value="MULTIMEDIA" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>