frontend-csharp/GestionLentesVRPresentacion/Connected Services/ServiceReference1/ConfiguracionWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="com.pucp.gestionlentesvr" targetNamespace="com.pucp.gestionlentesvr" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Exception" type="tns:Exception" />
  <xs:element name="actualizarConfiguracion" type="tns:actualizarConfiguracion" />
  <xs:element name="actualizarConfiguracionResponse" type="tns:actualizarConfiguracionResponse" />
  <xs:element name="eliminarConfiguracion" type="tns:eliminarConfiguracion" />
  <xs:element name="eliminarConfiguracionResponse" type="tns:eliminarConfiguracionResponse" />
  <xs:element name="listarConfiguracion" type="tns:listarConfiguracion" />
  <xs:element name="listarConfiguracionResponse" type="tns:listarConfiguracionResponse" />
  <xs:element name="obtenerConfiguracion" type="tns:obtenerConfiguracion" />
  <xs:element name="obtenerConfiguracionResponse" type="tns:obtenerConfiguracionResponse" />
  <xs:element name="registrarConfiguracion" type="tns:registrarConfiguracion" />
  <xs:element name="registrarConfiguracionResponse" type="tns:registrarConfiguracionResponse" />
  <xs:complexType name="eliminarConfiguracion">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarConfiguracionResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarConfiguracion">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarConfiguracionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:configuracion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="configuracion">
    <xs:sequence>
      <xs:element name="activo" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="fechaCreacion" type="tns:date" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="tipo" type="tns:tipoConfiguracion" />
      <xs:element minOccurs="0" name="valor" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="date">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="registrarConfiguracion">
    <xs:sequence>
      <xs:element minOccurs="0" name="elemento" type="tns:configuracion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registrarConfiguracionResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="obtenerConfiguracion">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerConfiguracionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:configuracion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarConfiguracion">
    <xs:sequence>
      <xs:element minOccurs="0" name="elemento" type="tns:configuracion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarConfiguracionResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:simpleType name="tipoConfiguracion">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AUDIO" />
      <xs:enumeration value="VIDEO" />
      <xs:enumeration value="CONTROL" />
      <xs:enumeration value="RED" />
      <xs:enumeration value="SEGURIDAD" />
      <xs:enumeration value="SISTEMA" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>