frontend-csharp/GestionLentesVRPresentacion/Connected Services/ServiceReference1/DispositivoWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="com.pucp.gestionlentesvr" targetNamespace="com.pucp.gestionlentesvr" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Exception" type="tns:Exception" />
  <xs:element name="actualizarDispositivo" type="tns:actualizarDispositivo" />
  <xs:element name="actualizarDispositivoResponse" type="tns:actualizarDispositivoResponse" />
  <xs:element name="eliminarDispositivo" type="tns:eliminarDispositivo" />
  <xs:element name="eliminarDispositivoResponse" type="tns:eliminarDispositivoResponse" />
  <xs:element name="listarDispositivo" type="tns:listarDispositivo" />
  <xs:element name="listarDispositivoResponse" type="tns:listarDispositivoResponse" />
  <xs:element name="obtenerDispositivo" type="tns:obtenerDispositivo" />
  <xs:element name="obtenerDispositivoResponse" type="tns:obtenerDispositivoResponse" />
  <xs:element name="registrarDispositivo" type="tns:registrarDispositivo" />
  <xs:element name="registrarDispositivoResponse" type="tns:registrarDispositivoResponse" />
  <xs:complexType name="eliminarDispositivo">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarDispositivoResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarDispositivo">
    <xs:sequence>
      <xs:element minOccurs="0" name="elemento" type="tns:dispositivo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dispositivo">
    <xs:sequence>
      <xs:element name="activo" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="estado" type="tns:estadoConexion" />
      <xs:element minOccurs="0" name="fechaRegistro" type="tns:timestamp" />
      <xs:element minOccurs="0" name="grupo" type="tns:grupo" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="modelo" type="xs:string" />
      <xs:element name="nivelBateria" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="numeroSerie" type="xs:string" />
      <xs:element minOccurs="0" name="ubicacion" type="xs:string" />
      <xs:element minOccurs="0" name="ultimaConexion" type="tns:timestamp" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="timestamp">
    <xs:sequence>
      <xs:element name="nanos" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="grupo">
    <xs:sequence>
      <xs:element name="activo" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="fechaCreacion" type="tns:timestamp" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="ubicacion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarDispositivoResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="obtenerDispositivo">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerDispositivoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:dispositivo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarDispositivo">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarDispositivoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:dispositivo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registrarDispositivo">
    <xs:sequence>
      <xs:element minOccurs="0" name="elemento" type="tns:dispositivo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registrarDispositivoResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:simpleType name="estadoConexion">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CONECTADO" />
      <xs:enumeration value="DESCONECTADO" />
      <xs:enumeration value="EN_USO" />
      <xs:enumeration value="EN_MANTENIMIENTO" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>