frontend-csharp/GestionLentesVRPresentacion/Connected Services/ServiceReference1/GrupoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.gestionlentesvr.pucp.com/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="GrupoWS" targetNamespace="http://ws.gestionlentesvr.pucp.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/GestionlentesvrWS/GrupoWS?xsd=1" namespace="http://ws.gestionlentesvr.pucp.com/" />
    </xsd:schema>
  </types>
  <message name="listarGrupo">
    <part name="parameters" element="tns:listarGrupo" />
  </message>
  <message name="listarGrupoResponse">
    <part name="parameters" element="tns:listarGrupoResponse" />
  </message>
  <message name="Exception">
    <part name="fault" element="tns:Exception" />
  </message>
  <message name="registrarGrupo">
    <part name="parameters" element="tns:registrarGrupo" />
  </message>
  <message name="registrarGrupoResponse">
    <part name="parameters" element="tns:registrarGrupoResponse" />
  </message>
  <message name="eliminarGrupo">
    <part name="parameters" element="tns:eliminarGrupo" />
  </message>
  <message name="eliminarGrupoResponse">
    <part name="parameters" element="tns:eliminarGrupoResponse" />
  </message>
  <message name="actualizarGrupo">
    <part name="parameters" element="tns:actualizarGrupo" />
  </message>
  <message name="actualizarGrupoResponse">
    <part name="parameters" element="tns:actualizarGrupoResponse" />
  </message>
  <message name="obtenerGrupo">
    <part name="parameters" element="tns:obtenerGrupo" />
  </message>
  <message name="obtenerGrupoResponse">
    <part name="parameters" element="tns:obtenerGrupoResponse" />
  </message>
  <portType name="GrupoWS">
    <operation name="listarGrupo">
      <input wsam:Action="http://ws.gestionlentesvr.pucp.com/GrupoWS/listarGrupoRequest" message="tns:listarGrupo" />
      <output wsam:Action="http://ws.gestionlentesvr.pucp.com/GrupoWS/listarGrupoResponse" message="tns:listarGrupoResponse" />
      <fault wsam:Action="http://ws.gestionlentesvr.pucp.com/GrupoWS/listarGrupo/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="registrarGrupo">
      <input wsam:Action="http://ws.gestionlentesvr.pucp.com/GrupoWS/registrarGrupoRequest" message="tns:registrarGrupo" />
      <output wsam:Action="http://ws.gestionlentesvr.pucp.com/GrupoWS/registrarGrupoResponse" message="tns:registrarGrupoResponse" />
      <fault wsam:Action="http://ws.gestionlentesvr.pucp.com/GrupoWS/registrarGrupo/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="eliminarGrupo">
      <input wsam:Action="http://ws.gestionlentesvr.pucp.com/GrupoWS/eliminarGrupoRequest" message="tns:eliminarGrupo" />
      <output wsam:Action="http://ws.gestionlentesvr.pucp.com/GrupoWS/eliminarGrupoResponse" message="tns:eliminarGrupoResponse" />
      <fault wsam:Action="http://ws.gestionlentesvr.pucp.com/GrupoWS/eliminarGrupo/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="actualizarGrupo">
      <input wsam:Action="http://ws.gestionlentesvr.pucp.com/GrupoWS/actualizarGrupoRequest" message="tns:actualizarGrupo" />
      <output wsam:Action="http://ws.gestionlentesvr.pucp.com/GrupoWS/actualizarGrupoResponse" message="tns:actualizarGrupoResponse" />
      <fault wsam:Action="http://ws.gestionlentesvr.pucp.com/GrupoWS/actualizarGrupo/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="obtenerGrupo">
      <input wsam:Action="http://ws.gestionlentesvr.pucp.com/GrupoWS/obtenerGrupoRequest" message="tns:obtenerGrupo" />
      <output wsam:Action="http://ws.gestionlentesvr.pucp.com/GrupoWS/obtenerGrupoResponse" message="tns:obtenerGrupoResponse" />
      <fault wsam:Action="http://ws.gestionlentesvr.pucp.com/GrupoWS/obtenerGrupo/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
  </portType>
  <binding name="GrupoWSPortBinding" type="tns:GrupoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarGrupo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="registrarGrupo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="eliminarGrupo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="actualizarGrupo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="obtenerGrupo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="GrupoWS">
    <port name="GrupoWSPort" binding="tns:GrupoWSPortBinding">
      <soap:address location="http://localhost:8080/GestionlentesvrWS/GrupoWS" />
    </port>
  </service>
</definitions>