frontend-csharp/GestionLentesVRPresentacion/Connected Services/ServiceReference1/MetricaUsoWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws.gestionlentesvr.pucp.com/" xmlns:ns1="com.pucp.gestionlentesvr" targetNamespace="http://ws.gestionlentesvr.pucp.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/GestionlentesvrWS/MetricaUsoWS?xsd=2" namespace="com.pucp.gestionlentesvr" />
  <xs:element name="Exception" nillable="true" type="ns1:Exception" />
  <xs:element name="actualizarMetricaUso" type="tns:actualizarMetricaUso" />
  <xs:element name="actualizarMetricaUsoResponse" type="tns:actualizarMetricaUsoResponse" />
  <xs:element name="eliminarMetricaUso" type="tns:eliminarMetricaUso" />
  <xs:element name="eliminarMetricaUsoResponse" type="tns:eliminarMetricaUsoResponse" />
  <xs:element name="listarMetricaUso" type="tns:listarMetricaUso" />
  <xs:element name="listarMetricaUsoResponse" type="tns:listarMetricaUsoResponse" />
  <xs:element name="obtenerMetricaUso" type="tns:obtenerMetricaUso" />
  <xs:element name="obtenerMetricaUsoResponse" type="tns:obtenerMetricaUsoResponse" />
  <xs:element name="registrarMetricaUso" type="tns:registrarMetricaUso" />
  <xs:element name="registrarMetricaUsoResponse" type="tns:registrarMetricaUsoResponse" />
  <xs:complexType name="registrarMetricaUso">
    <xs:sequence>
      <xs:element minOccurs="0" name="elemento" type="tns:metricaUso" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="metricaUso">
    <xs:sequence>
      <xs:element name="activo" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="dispositivo" type="tns:dispositivo" />
      <xs:element minOccurs="0" name="fechaRegistro" type="tns:date" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="nivelBateriaFinal" type="xs:int" />
      <xs:element name="nivelBateriaInicial" type="xs:int" />
      <xs:element name="tiempoUsoMinutos" type="xs:int" />
      <xs:element minOccurs="0" name="usuario" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dispositivo">
    <xs:sequence>
      <xs:element name="activo" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="estado" type="tns:estadoConexion" />
      <xs:element minOccurs="0" name="fechaRegistro" type="tns:date" />
      <xs:element minOccurs="0" name="grupo" type="tns:grupo" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="modelo" type="xs:string" />
      <xs:element name="nivelBateria" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="numeroSerie" type="xs:string" />
      <xs:element minOccurs="0" name="ubicacion" type="xs:string" />
      <xs:element minOccurs="0" name="ultimaConexion" type="tns:date" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="date">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="grupo">
    <xs:sequence>
      <xs:element name="activo" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="fechaCreacion" type="tns:date" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="ubicacion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuario">
    <xs:sequence>
      <xs:element name="activo" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="apellido" type="xs:string" />
      <xs:element minOccurs="0" name="contrasena" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="fechaCreacion" type="tns:timestamp" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="rol" type="tns:rol" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="timestamp">
    <xs:sequence>
      <xs:element name="nanos" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rol">
    <xs:sequence>
      <xs:element name="activo" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registrarMetricaUsoResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="eliminarMetricaUso">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarMetricaUsoResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="actualizarMetricaUso">
    <xs:sequence>
      <xs:element minOccurs="0" name="elemento" type="tns:metricaUso" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarMetricaUsoResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="obtenerMetricaUso">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerMetricaUsoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:metricaUso" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarMetricaUso">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarMetricaUsoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:metricaUso" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="estadoConexion">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CONECTADO" />
      <xs:enumeration value="DESCONECTADO" />
      <xs:enumeration value="EN_USO" />
      <xs:enumeration value="EN_MANTENIMIENTO" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>