frontend-csharp/GestionLentesVRPresentacion/Connected Services/ServiceReference1/RolWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.gestionlentesvr.pucp.com/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="RolWS" targetNamespace="http://ws.gestionlentesvr.pucp.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/GestionlentesvrWS/RolWS?xsd=1" namespace="http://ws.gestionlentesvr.pucp.com/" />
    </xsd:schema>
  </types>
  <message name="eliminarRol">
    <part name="parameters" element="tns:eliminarRol" />
  </message>
  <message name="eliminarRolResponse">
    <part name="parameters" element="tns:eliminarRolResponse" />
  </message>
  <message name="Exception">
    <part name="fault" element="tns:Exception" />
  </message>
  <message name="obtenerRol">
    <part name="parameters" element="tns:obtenerRol" />
  </message>
  <message name="obtenerRolResponse">
    <part name="parameters" element="tns:obtenerRolResponse" />
  </message>
  <message name="listarRol">
    <part name="parameters" element="tns:listarRol" />
  </message>
  <message name="listarRolResponse">
    <part name="parameters" element="tns:listarRolResponse" />
  </message>
  <message name="registrarRol">
    <part name="parameters" element="tns:registrarRol" />
  </message>
  <message name="registrarRolResponse">
    <part name="parameters" element="tns:registrarRolResponse" />
  </message>
  <message name="actualizarRol">
    <part name="parameters" element="tns:actualizarRol" />
  </message>
  <message name="actualizarRolResponse">
    <part name="parameters" element="tns:actualizarRolResponse" />
  </message>
  <portType name="RolWS">
    <operation name="eliminarRol">
      <input wsam:Action="http://ws.gestionlentesvr.pucp.com/RolWS/eliminarRolRequest" message="tns:eliminarRol" />
      <output wsam:Action="http://ws.gestionlentesvr.pucp.com/RolWS/eliminarRolResponse" message="tns:eliminarRolResponse" />
      <fault wsam:Action="http://ws.gestionlentesvr.pucp.com/RolWS/eliminarRol/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="obtenerRol">
      <input wsam:Action="http://ws.gestionlentesvr.pucp.com/RolWS/obtenerRolRequest" message="tns:obtenerRol" />
      <output wsam:Action="http://ws.gestionlentesvr.pucp.com/RolWS/obtenerRolResponse" message="tns:obtenerRolResponse" />
      <fault wsam:Action="http://ws.gestionlentesvr.pucp.com/RolWS/obtenerRol/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="listarRol">
      <input wsam:Action="http://ws.gestionlentesvr.pucp.com/RolWS/listarRolRequest" message="tns:listarRol" />
      <output wsam:Action="http://ws.gestionlentesvr.pucp.com/RolWS/listarRolResponse" message="tns:listarRolResponse" />
      <fault wsam:Action="http://ws.gestionlentesvr.pucp.com/RolWS/listarRol/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="registrarRol">
      <input wsam:Action="http://ws.gestionlentesvr.pucp.com/RolWS/registrarRolRequest" message="tns:registrarRol" />
      <output wsam:Action="http://ws.gestionlentesvr.pucp.com/RolWS/registrarRolResponse" message="tns:registrarRolResponse" />
      <fault wsam:Action="http://ws.gestionlentesvr.pucp.com/RolWS/registrarRol/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="actualizarRol">
      <input wsam:Action="http://ws.gestionlentesvr.pucp.com/RolWS/actualizarRolRequest" message="tns:actualizarRol" />
      <output wsam:Action="http://ws.gestionlentesvr.pucp.com/RolWS/actualizarRolResponse" message="tns:actualizarRolResponse" />
      <fault wsam:Action="http://ws.gestionlentesvr.pucp.com/RolWS/actualizarRol/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
  </portType>
  <binding name="RolWSPortBinding" type="tns:RolWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="eliminarRol">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="obtenerRol">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="listarRol">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="registrarRol">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="actualizarRol">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="RolWS">
    <port name="RolWSPort" binding="tns:RolWSPortBinding">
      <soap:address location="http://localhost:8080/GestionlentesvrWS/RolWS" />
    </port>
  </service>
</definitions>