frontend-csharp/GestionLentesVRPresentacion/Connected Services/ServiceReference1/RolWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws.gestionlentesvr.pucp.com/" targetNamespace="http://ws.gestionlentesvr.pucp.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Exception" type="tns:Exception" />
  <xs:element name="actualizarRol" type="tns:actualizarRol" />
  <xs:element name="actualizarRolResponse" type="tns:actualizarRolResponse" />
  <xs:element name="eliminarRol" type="tns:eliminarRol" />
  <xs:element name="eliminarRolResponse" type="tns:eliminarRolResponse" />
  <xs:element name="listarRol" type="tns:listarRol" />
  <xs:element name="listarRolResponse" type="tns:listarRolResponse" />
  <xs:element name="obtenerRol" type="tns:obtenerRol" />
  <xs:element name="obtenerRolResponse" type="tns:obtenerRolResponse" />
  <xs:element name="registrarRol" type="tns:registrarRol" />
  <xs:element name="registrarRolResponse" type="tns:registrarRolResponse" />
  <xs:complexType name="eliminarRol">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarRolResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerRol">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerRolResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:rol" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rol">
    <xs:sequence>
      <xs:element name="activo" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarRol">
    <xs:sequence>
      <xs:element minOccurs="0" name="elemento" type="tns:rol" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarRolResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="registrarRol">
    <xs:sequence>
      <xs:element minOccurs="0" name="elemento" type="tns:rol" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registrarRolResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarRol">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarRolResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:rol" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>