frontend-csharp/GestionLentesVRPresentacion/Connected Services/DispositivosWS/DispositivoWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws.gestionlentesvr.pucp.com/" targetNamespace="http://ws.gestionlentesvr.pucp.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Exception" type="tns:Exception" />
  <xs:element name="actualizarDispositivo" type="tns:actualizarDispositivo" />
  <xs:element name="actualizarDispositivoResponse" type="tns:actualizarDispositivoResponse" />
  <xs:element name="eliminarDispositivo" type="tns:eliminarDispositivo" />
  <xs:element name="eliminarDispositivoResponse" type="tns:eliminarDispositivoResponse" />
  <xs:element name="listarDispositivo" type="tns:listarDispositivo" />
  <xs:element name="listarDispositivoResponse" type="tns:listarDispositivoResponse" />
  <xs:element name="obtenerDispositivo" type="tns:obtenerDispositivo" />
  <xs:element name="obtenerDispositivoResponse" type="tns:obtenerDispositivoResponse" />
  <xs:element name="registrarDispositivo" type="tns:registrarDispositivo" />
  <xs:element name="registrarDispositivoResponse" type="tns:registrarDispositivoResponse" />
  <xs:complexType name="eliminarDispositivo">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarDispositivoResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarDispositivo">
    <xs:sequence>
      <xs:element minOccurs="0" name="elemento" type="tns:dispositivo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dispositivo">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="aplicacionesInstaladas" nillable="true" type="tns:aplicacion" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="configuraciones" nillable="true" type="tns:configuracion" />
      <xs:element name="dispositivoId" type="xs:int" />
      <xs:element minOccurs="0" name="estadoConexion" type="tns:estadoConexion" />
      <xs:element minOccurs="0" name="fechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="firmwareActual" type="tns:firmware" />
      <xs:element minOccurs="0" name="grupo" type="tns:grupo" />
      <xs:element minOccurs="0" name="modelo" type="xs:string" />
      <xs:element name="nivelBateria" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="numeroSerie" type="xs:string" />
      <xs:element minOccurs="0" name="ubicacion" type="xs:string" />
      <xs:element minOccurs="0" name="ultimaConexion" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="aplicacion">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="aplicacionId" type="xs:int" />
      <xs:element minOccurs="0" name="categoria" type="tns:categoriaAplicacion" />
      <xs:element minOccurs="0" name="desarrollador" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="fechaLanzamiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="rutaInstalador" type="xs:string" />
      <xs:element name="tamanoMB" type="xs:double" />
      <xs:element minOccurs="0" name="version" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="configuracion">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="configuracionId" type="xs:int" />
      <xs:element minOccurs="0" name="creadoPor" type="tns:usuario" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="fechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="tipo" type="tns:tipoConfiguracion" />
      <xs:element minOccurs="0" name="valor" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="actividades" nillable="true" type="tns:actividad" />
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="apellido" type="xs:string" />
      <xs:element minOccurs="0" name="contrasena" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="fechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="rol" type="tns:rol" />
      <xs:element name="usuarioId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actividad">
    <xs:sequence>
      <xs:element name="actividadId" type="xs:int" />
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="detallesTecnicos" type="xs:string" />
      <xs:element minOccurs="0" name="dispositivoAfectado" type="tns:dispositivo" />
      <xs:element minOccurs="0" name="fechaHora" type="xs:dateTime" />
      <xs:element minOccurs="0" name="tipoActividad" type="tns:tipoActividad" />
      <xs:element minOccurs="0" name="usuario" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rol">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="rolId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="firmware">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="dispositivo" type="tns:dispositivo" />
      <xs:element minOccurs="0" name="fechaLanzamiento" type="xs:dateTime" />
      <xs:element name="firmwareId" type="xs:int" />
      <xs:element minOccurs="0" name="grupo" type="tns:grupo" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="rutaArchivo" type="xs:string" />
      <xs:element minOccurs="0" name="version" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="grupo">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="dispositivos" nillable="true" type="tns:dispositivo" />
      <xs:element minOccurs="0" name="fechaCreacion" type="xs:dateTime" />
      <xs:element name="grupoId" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="responsable" type="tns:usuario" />
      <xs:element minOccurs="0" name="ubicacion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarDispositivoResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="obtenerDispositivo">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerDispositivoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:dispositivo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarDispositivo">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarDispositivoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:dispositivo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registrarDispositivo">
    <xs:sequence>
      <xs:element minOccurs="0" name="elemento" type="tns:dispositivo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registrarDispositivoResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:simpleType name="categoriaAplicacion">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EDUCATIVA" />
      <xs:enumeration value="ENTRETENIMIENTO" />
      <xs:enumeration value="TERAPEUTICA" />
      <xs:enumeration value="ENTRENAMIENTO" />
      <xs:enumeration value="PRODUCTIVIDAD" />
      <xs:enumeration value="SIMULACION" />
      <xs:enumeration value="MULTIMEDIA" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoActividad">
    <xs:restriction base="xs:string">
      <xs:enumeration value="INICIO_SESION" />
      <xs:enumeration value="CIERRE_SESION" />
      <xs:enumeration value="REGISTRO_DISPOSITIVO" />
      <xs:enumeration value="ACTUALIZACION_FIRMWARE" />
      <xs:enumeration value="INSTALACION_APLICACION" />
      <xs:enumeration value="DESINSTALACION_APLICACION" />
      <xs:enumeration value="CONFIGURACION_DISPOSITIVO" />
      <xs:enumeration value="CAMBIO_ESTADO_DISPOSITIVO" />
      <xs:enumeration value="ASIGNACION_GRUPO" />
      <xs:enumeration value="CREACION_USUARIO" />
      <xs:enumeration value="MODIFICACION_USUARIO" />
      <xs:enumeration value="CREACION_GRUPO" />
      <xs:enumeration value="MODIFICACION_GRUPO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoConfiguracion">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AUDIO" />
      <xs:enumeration value="VIDEO" />
      <xs:enumeration value="CONTROL" />
      <xs:enumeration value="RED" />
      <xs:enumeration value="SEGURIDAD" />
      <xs:enumeration value="SISTEMA" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="estadoConexion">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CONECTADO" />
      <xs:enumeration value="DESCONECTADO" />
      <xs:enumeration value="EN_USO" />
      <xs:enumeration value="EN_MANTENIMIENTO" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>