frontend-csharp/GestionLentesVRPresentacion/Connected Services/GestionlentesvrWS/AplicacionWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws.gestionlentesvr.pucp.com/" targetNamespace="http://ws.gestionlentesvr.pucp.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Exception" type="tns:Exception" />
  <xs:element name="actualizarAplicacion" type="tns:actualizarAplicacion" />
  <xs:element name="actualizarAplicacionResponse" type="tns:actualizarAplicacionResponse" />
  <xs:element name="contarAplicacionesPorTipoEnMetricas" type="tns:contarAplicacionesPorTipoEnMetricas" />
  <xs:element name="contarAplicacionesPorTipoEnMetricasResponse" type="tns:contarAplicacionesPorTipoEnMetricasResponse" />
  <xs:element name="eliminarAplicacion" type="tns:eliminarAplicacion" />
  <xs:element name="eliminarAplicacionResponse" type="tns:eliminarAplicacionResponse" />
  <xs:element name="eliminarAplicacionesPorDispositivo" type="tns:eliminarAplicacionesPorDispositivo" />
  <xs:element name="eliminarAplicacionesPorDispositivoResponse" type="tns:eliminarAplicacionesPorDispositivoResponse" />
  <xs:element name="listarAplicacion" type="tns:listarAplicacion" />
  <xs:element name="listarAplicacionResponse" type="tns:listarAplicacionResponse" />
  <xs:element name="listarAplicacionesConDispositivos" type="tns:listarAplicacionesConDispositivos" />
  <xs:element name="listarAplicacionesConDispositivosResponse" type="tns:listarAplicacionesConDispositivosResponse" />
  <xs:element name="listarDispositivosPorAplicaciones" type="tns:listarDispositivosPorAplicaciones" />
  <xs:element name="listarDispositivosPorAplicacionesResponse" type="tns:listarDispositivosPorAplicacionesResponse" />
  <xs:element name="obtenerAplicacion" type="tns:obtenerAplicacion" />
  <xs:element name="obtenerAplicacionResponse" type="tns:obtenerAplicacionResponse" />
  <xs:element name="registrarAplicacion" type="tns:registrarAplicacion" />
  <xs:element name="registrarAplicacionResponse" type="tns:registrarAplicacionResponse" />
  <xs:element name="reporteCategoriaApp" type="tns:reporteCategoriaApp" />
  <xs:element name="reporteCategoriaAppResponse" type="tns:reporteCategoriaAppResponse" />
  <xs:complexType name="obtenerAplicacion">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerAplicacionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:aplicacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="aplicacion">
    <xs:sequence>
      <xs:element name="activo" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="categoria" type="tns:categoriaAplicacion" />
      <xs:element minOccurs="0" name="desarrollador" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="tamanomb" type="xs:double" />
      <xs:element minOccurs="0" name="version" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="contarAplicacionesPorTipoEnMetricas">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="contarAplicacionesPorTipoEnMetricasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarAplicacionesConDispositivos">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarAplicacionesConDispositivosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:aplicacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarAplicacion">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarAplicacionResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="eliminarAplicacionesPorDispositivo">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="eliminarAplicacionesPorDispositivoResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="registrarAplicacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="elemento" type="tns:aplicacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registrarAplicacionResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarDispositivosPorAplicaciones">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarDispositivosPorAplicacionesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:dispositivo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dispositivo">
    <xs:sequence>
      <xs:element name="activo" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="estado" type="tns:estadoConexion" />
      <xs:element minOccurs="0" name="fechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="grupo" type="tns:grupo" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="modelo" type="xs:string" />
      <xs:element name="nivelBateria" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="numeroSerie" type="xs:string" />
      <xs:element minOccurs="0" name="ubicacion" type="xs:string" />
      <xs:element minOccurs="0" name="ultimaConexion" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="grupo">
    <xs:sequence>
      <xs:element name="activo" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="fechaCreacion" type="xs:dateTime" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="ubicacion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarAplicacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="elemento" type="tns:aplicacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarAplicacionResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="reporteCategoriaApp">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="reporteCategoriaAppResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarAplicacion">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarAplicacionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:aplicacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="categoriaAplicacion">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EDUCATIVA" />
      <xs:enumeration value="ENTRETENIMIENTO" />
      <xs:enumeration value="TERAPEUTICA" />
      <xs:enumeration value="ENTRENAMIENTO" />
      <xs:enumeration value="PRODUCTIVIDAD" />
      <xs:enumeration value="SIMULACION" />
      <xs:enumeration value="MULTIMEDIA" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="estadoConexion">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CONECTADO" />
      <xs:enumeration value="DESCONECTADO" />
      <xs:enumeration value="EN_USO" />
      <xs:enumeration value="EN_MANTENIMIENTO" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>