frontend-csharp/GestionLentesVRPresentacion/Connected Services/GestionlentesvrWS/DispositivoWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws.gestionlentesvr.pucp.com/" targetNamespace="http://ws.gestionlentesvr.pucp.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Exception" type="tns:Exception" />
  <xs:element name="actualizarDispositivo" type="tns:actualizarDispositivo" />
  <xs:element name="actualizarDispositivoResponse" type="tns:actualizarDispositivoResponse" />
  <xs:element name="eliminarDispositivo" type="tns:eliminarDispositivo" />
  <xs:element name="eliminarDispositivoResponse" type="tns:eliminarDispositivoResponse" />
  <xs:element name="insertarDisFirmware" type="tns:insertarDisFirmware" />
  <xs:element name="insertarDisFirmwareResponse" type="tns:insertarDisFirmwareResponse" />
  <xs:element name="listarDispositivo" type="tns:listarDispositivo" />
  <xs:element name="listarDispositivoResponse" type="tns:listarDispositivoResponse" />
  <xs:element name="obtenerDispositivo" type="tns:obtenerDispositivo" />
  <xs:element name="obtenerDispositivoResponse" type="tns:obtenerDispositivoResponse" />
  <xs:element name="obtenerUltimoFirm" type="tns:obtenerUltimoFirm" />
  <xs:element name="obtenerUltimoFirmResponse" type="tns:obtenerUltimoFirmResponse" />
  <xs:element name="registrarDispositivo" type="tns:registrarDispositivo" />
  <xs:element name="registrarDispositivoResponse" type="tns:registrarDispositivoResponse" />
  <xs:element name="reporteDispositivos" type="tns:reporteDispositivos" />
  <xs:element name="reporteDispositivosResponse" type="tns:reporteDispositivosResponse" />
  <xs:complexType name="eliminarDispositivo">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarDispositivoResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarDispositivo">
    <xs:sequence>
      <xs:element minOccurs="0" name="elemento" type="tns:dispositivo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dispositivo">
    <xs:sequence>
      <xs:element name="activo" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="estado" type="tns:estadoConexion" />
      <xs:element minOccurs="0" name="fechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="grupo" type="tns:grupo" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="modelo" type="xs:string" />
      <xs:element name="nivelBateria" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="numeroSerie" type="xs:string" />
      <xs:element minOccurs="0" name="ubicacion" type="xs:string" />
      <xs:element minOccurs="0" name="ultimaConexion" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="grupo">
    <xs:sequence>
      <xs:element name="activo" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="fechaCreacion" type="xs:dateTime" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="ubicacion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarDispositivoResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="reporteDispositivos">
    <xs:sequence>
      <xs:element name="idGrupo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reporteDispositivosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarDisFirmware">
    <xs:sequence>
      <xs:element name="idDis" type="xs:int" />
      <xs:element name="idFirm" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarDisFirmwareResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerDispositivo">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerDispositivoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:dispositivo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarDispositivo">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarDispositivoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:dispositivo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registrarDispositivo">
    <xs:sequence>
      <xs:element minOccurs="0" name="elemento" type="tns:dispositivo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registrarDispositivoResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="obtenerUltimoFirm">
    <xs:sequence>
      <xs:element name="idDis" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerUltimoFirmResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:firmware" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="firmware">
    <xs:sequence>
      <xs:element name="activo" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="version" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="estadoConexion">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CONECTADO" />
      <xs:enumeration value="DESCONECTADO" />
      <xs:enumeration value="EN_USO" />
      <xs:enumeration value="EN_MANTENIMIENTO" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>