frontend-csharp/GestionLentesVRPresentacion/Connected Services/ServiceReference5/MetricaUsoWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws.gestionlentesvr.pucp.com/" targetNamespace="http://ws.gestionlentesvr.pucp.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Exception" type="tns:Exception" />
  <xs:element name="actualizarMetricaUso" type="tns:actualizarMetricaUso" />
  <xs:element name="actualizarMetricaUsoResponse" type="tns:actualizarMetricaUsoResponse" />
  <xs:element name="eliminarMetricaUso" type="tns:eliminarMetricaUso" />
  <xs:element name="eliminarMetricaUsoResponse" type="tns:eliminarMetricaUsoResponse" />
  <xs:element name="listarMetricaUso" type="tns:listarMetricaUso" />
  <xs:element name="listarMetricaUsoResponse" type="tns:listarMetricaUsoResponse" />
  <xs:element name="obtenerAppMasUsada" type="tns:obtenerAppMasUsada" />
  <xs:element name="obtenerAppMasUsadaResponse" type="tns:obtenerAppMasUsadaResponse" />
  <xs:element name="obtenerDispositivoMasUsado" type="tns:obtenerDispositivoMasUsado" />
  <xs:element name="obtenerDispositivoMasUsadoResponse" type="tns:obtenerDispositivoMasUsadoResponse" />
  <xs:element name="obtenerDispositivoMenosUsado" type="tns:obtenerDispositivoMenosUsado" />
  <xs:element name="obtenerDispositivoMenosUsadoResponse" type="tns:obtenerDispositivoMenosUsadoResponse" />
  <xs:element name="obtenerMetricaUso" type="tns:obtenerMetricaUso" />
  <xs:element name="obtenerMetricaUsoResponse" type="tns:obtenerMetricaUsoResponse" />
  <xs:element name="registrarMetricaUso" type="tns:registrarMetricaUso" />
  <xs:element name="registrarMetricaUsoResponse" type="tns:registrarMetricaUsoResponse" />
  <xs:complexType name="obtenerDispositivoMenosUsado">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="obtenerDispositivoMenosUsadoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:dispositivo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dispositivo">
    <xs:sequence>
      <xs:element name="activo" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="estado" type="tns:estadoConexion" />
      <xs:element minOccurs="0" name="fechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="grupo" type="tns:grupo" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="modelo" type="xs:string" />
      <xs:element name="nivelBateria" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="numeroSerie" type="xs:string" />
      <xs:element minOccurs="0" name="ubicacion" type="xs:string" />
      <xs:element minOccurs="0" name="ultimaConexion" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="grupo">
    <xs:sequence>
      <xs:element name="activo" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="fechaCreacion" type="xs:dateTime" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="ubicacion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registrarMetricaUso">
    <xs:sequence>
      <xs:element minOccurs="0" name="elemento" type="tns:metricaUso" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="metricaUso">
    <xs:sequence>
      <xs:element name="activo" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="dispositivo" type="tns:dispositivo" />
      <xs:element minOccurs="0" name="fechaRegistro" type="xs:dateTime" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="nivelBateriaFinal" type="xs:int" />
      <xs:element name="nivelBateriaInicial" type="xs:int" />
      <xs:element name="tiempoUsoMinutos" type="xs:int" />
      <xs:element minOccurs="0" name="usuario" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuario">
    <xs:sequence>
      <xs:element name="activo" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="apellido" type="xs:string" />
      <xs:element minOccurs="0" name="contrasena" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="fechaCreacion" type="xs:dateTime" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="rol" type="tns:rol" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rol">
    <xs:sequence>
      <xs:element name="activo" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registrarMetricaUsoResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="eliminarMetricaUso">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarMetricaUsoResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="obtenerDispositivoMasUsado">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="obtenerDispositivoMasUsadoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:dispositivo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarMetricaUso">
    <xs:sequence>
      <xs:element minOccurs="0" name="elemento" type="tns:metricaUso" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarMetricaUsoResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="obtenerMetricaUso">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerMetricaUsoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:metricaUso" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarMetricaUso">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarMetricaUsoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:metricaUso" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerAppMasUsada">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="obtenerAppMasUsadaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:aplicacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="aplicacion">
    <xs:sequence>
      <xs:element name="activo" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="categoria" type="tns:categoriaAplicacion" />
      <xs:element minOccurs="0" name="desarrollador" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="tamanomb" type="xs:double" />
      <xs:element minOccurs="0" name="version" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="estadoConexion">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CONECTADO" />
      <xs:enumeration value="DESCONECTADO" />
      <xs:enumeration value="EN_USO" />
      <xs:enumeration value="EN_MANTENIMIENTO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="categoriaAplicacion">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EDUCATIVA" />
      <xs:enumeration value="ENTRETENIMIENTO" />
      <xs:enumeration value="TERAPEUTICA" />
      <xs:enumeration value="ENTRENAMIENTO" />
      <xs:enumeration value="PRODUCTIVIDAD" />
      <xs:enumeration value="SIMULACION" />
      <xs:enumeration value="MULTIMEDIA" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>